/* css styles */


/* justificar el texto */ 
p, ul, ol {
  text-align: justify; }    

/* Cambiar tamaño títulos */ 
h1 {
    font-size: 28px; /* Tamaño para títulos de primer nivel (#) */
}

h2 {
    font-size: 20px; /* Tamaño para títulos de segundo nivel (##) */
}

h3 {
    font-size: 14px; /* Tamaño para títulos de tercer nivel (###) */
}

/* Cambiar el color del texto del TOC */ 
.toc .toc-level {
    color: #4D9F8C; 
}

/* Cambiar el color del texto en los tabsets */
.nav-tabs .nav-link {
    color: #4D9F8C; 
}


/* Para evitar un título en el navbar */
.navbar-title {
  display: none;
}

/* Para poner una imagen de fondo en el navbar */
.navbar {
   background-image: url(imagenes/prueba.png);
}

/* Para poner un borde al texto e iconos del navbar */
.navbar a {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; /* Borde negro sobre el texto */
  padding: 9px 14px; /* Ajusta el espaciado interno según sea necesario */
}